{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}MyDjangoApp{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block link %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  {% endblock %}
  {% block script %} {% endblock %}
</head>
<body>
<div>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'task-view' %}">ToDoList</a>
      <form class="d-flex">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </form>
    </div>
  </nav>
</div>


<div class="container mt-2 ">
  <div class="row">
  </div>
    <div class="col">
      {% block buttons %} {% endblock %}

      {% block content %}
      {% endblock content %}
    </div>


  </div>
</div>



</body>
</html>
