{% extends "base.html" %}
{% block content %}
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <div class="col-8">

        <div class="panel-heading"><h4>Register</h4></div>
          <div class="panel-body">
            <div class="form-group clearfix">

              <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span
                      class="text-red">*</span>:</label>

                {{ form.username }}

            </div>
            <div class="form-group clearfix">

              <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span
                      class="text-red">*</span>:</label>

                {{ form.email }}

            </div>
            <div class="form-group clearfix">
              <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span
                      class="text-red">*</span>:</label>

                {{ form.password1 }}

            </div>
            <div class="form-group clearfix">

              <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm
                password<span class="text-red">*</span>:</label>

                {{ form.password2 }}

            </div>
            {% for field in form %}
              <div class="fieldWrapper">
                {{ field.errors }}
              </div>
            {% endfor %}
            <div class="col-md-6 col-md-offset-4">
              <input type="submit" value="Register" class="btn btn-success">
            </div>
          </div>

      </div>
    </form>
  </div>
{% endblock %}
