{% extends 'base.html' %}


{% block buttons%}
  <div class="conteiner">
  <div class="row">
  <div class="col">
      <h4>Friends:</h4>
  </div>
  <div class="col text-right d-inline">

    <form method="post" action="{% url 'creation_key'%}">
    {% csrf_token %}
      <button class="btn btn-info "  type="submit" >Invite friend</button>
    <form>

  </div>
    </div>
  </div>

{% endblock%}


{%  block  content %}
{% if not user_list%}
<div clas="text-center"> <h5>You have no friends yet</h5></div>
{% endif%}

{% for friend in user_list%}
 <ul class="list pl-0">
      <li>
        <div>
          <h5>{{friend}}</h5>
          <div class="row">

          </div>
        </div>
      </li>
    </ul>

 {% endfor %}

{% endblock %}
