{% extends 'base.html' %}

{% block script%}
 <script>

    function CopyLinkFunction() {
    var copyText = document.getElementById("invite_link");
    copyText.select();
    document.execCommand("copy");
  }
    </script>
{% endblock%}


{% block content%}
<h5 class="mt-3"> Link for one friend:</h5>
    <div class="row">
    <div class='col-8'>
      <input  class="form-control"  type="text" value="{{invite_link}}" id="invite_link" readonly>
    </div>
    <div class='col-4'>

      <button class="btn btn-info"  onclick="CopyLinkFunction()">Copy link</button>
    </div>
    </div>
{% endblock%}
